<div class="container">
  <h4>Wishlist</h4>
  <div class="sort-dropdown">
    <!-- <label for="sort">Sort by:</label>
    <!-- <select id="sort" [(ngModel)]="selectedSort" (change)="sortGames()">
      <option *ngFor="let option of sortOptions" [value]="option">
        {{ option }}
      </option>
    </select> -->
  </div>
  <br />

  <div class="game-list">
    <div *ngFor="let wishlistItem of wishlistItems" class="game-card">
      <img
        [src]="wishlistItem.gameImage"
        alt="{{ wishlistItem.gameTitle }}"
        class="game-image"
      />

      <div class="game-details">
        <h3>{{ wishlistItem.gameTitle }}</h3>
        <!-- <span *ngIf="game.baseGame" class="base-game">{{ game.baseGame }}</span> -->
        <!-- <p *ngIf="game.rating">Rating: {{ game.rating }}</p> -->

        <!-- <div *ngIf="game.discount" class="discount-info">
          <span class="discount">{{ game.discount }}</span>
          <span class="original-price">{{ game.originalPrice }}</span>
          <span class="sale-price">{{ game.price }}</span>
        </div> -->
        <span class="sale-price">{{ wishlistItem.gamePrice }}</span>

        <!-- <div *ngIf="!game.discount" class="price">{{ game.price }}</div> -->
        <!-- <p class="description">{{ game.description }}</p> -->

        <button class="action-button mb-4" (click)="addToCart()">
          Add To Cart
        </button>

        <button
          class="btn btn-outline-danger"
          (click)="removeFromWishlist(wishlistItem.id)"
        >
          Remove from Wishlist
        </button>
      </div>
      <div *ngIf="!wishlistItems || wishlistItems.length === 0">
        Your Wishlist is empty.
      </div>
    </div>
  </div>
</div>
