<nav class="navbar navbar-expand-lg" *ngIf="showHeader">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarSupportedContent"
    >
      <div class="brand">
        <a class="navbar-brand" href="#">Game Store</a>
      </div>
      <div class="d-flex flex-fill">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              routerLink="/home"
              routerLinkActive="router-links__router-link--active"
              >Store</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="#"
              routerLink="/game-library"
              routerLinkActive="router-links__router-link--active"
              >Library</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="#"
              routerLink="/wishlist"
              routerLinkActive="router-links__router-link--active"
              >Wishlist</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="#"
              routerLink="/cart"
              routerLinkActive="router-links__router-link--active"
              >Cart</a
            >
          </li>
        </ul>
      </div>
      <div class="form d-flex justify-content-between">
        <form role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
        <a
          class="account"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          routerLink="/login"
        >
          <i class="bi bi-person-circle"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
