.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;

  .grid-item{
    text-align: center;
    margin-top: 2rem;
  }
}


.game-image {
  width: 100%;
  height: auto;
}

.tag {
  // background-color: #eee;
  // margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-right: 1px solid #ccc;
}
