// @import "../../styles.scss";

.game-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;

  .game-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .game-rating {
    display: flex;
    align-items: center;
    gap: 1rem;

    .tags {
      display: flex;
      gap: 0.5rem;
    }
  }
  .system-requirements{
    background-color: #202024;


  }
  .text-muted{
    color: #ffffff4d !important;
  }
  .game-tabs {
    display: flex;
    gap: 1rem;

    .tab {
      background: none;
      border: none;
      color: #fff;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid #D90C0D;
      }
    }
  }

  .game-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .price-info {
      display: flex;
      flex-direction: column;
    }
    .title{
      font-size: 2.5rem;
      font-weight: 700;
    }

    .buy-button{
      background-color: #D90C0D !important;
    }

    .subscribe-button,
    .buy-button,
    .cart-button,
    .wishlist-button {
      background-color: #202024;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 0.5rem;
    }
  }
}
