<div class="container">
  <div class="game-details">
    <div class="game-header">
      <h1>{{ game.title }}</h1>
      <div class="game-rating">
        <span class="rating">{{ game.rating }} ★</span>
        <div class="tags">
          <span *ngFor="let tag of game.tags" class="tag">{{ tag }}</span>
        </div>
      </div>
    </div>

    <nav class="game-tabs">
      <button
        class="tab"
        [class.active]="selectedTab === 'overview'"
        (click)="selectTab('overview')"
      >
        Overview
      </button>
      <button
        class="tab"
        [class.active]="selectedTab === 'achievements'"
        (click)="selectTab('achievements')"
      >
        Achievements
      </button>
    </nav>

    <div class="row">
      <div class="col-8">
        <div class="game-media">
          <video
            *ngIf="game.videoUrl"
            controls
            [src]="game.videoUrl"
            class="video-player"
            autoplay
          >
            Your browser does not support the video tag.
          </video>
          <img
            *ngIf="!game.videoUrl"
            [src]="game.image"
            alt="{{ game.title }}"
          />
        </div>

        <div class="game-carousel">
          <app-game-carousel [games]="relatedGames"></app-game-carousel>
        </div>
        <div class="game-description">
          <p>{{ game.description }}</p>
        </div>
      </div>
      <div class="col-4">
        <div class="game-actions">
          <div class="price-info">
            <p class="price">{{ game.price }}</p>
            <p *ngIf="game.discount" class="discount-info">
              {{ game.discount }}
            </p>
          </div>
          <button class="subscribe-button" (click)="subscribe()">
            Subscribe
          </button>
          <button class="buy-button" (click)="buyNow()">Buy Now</button>
          <button class="cart-button" (click)="addToCart()">Add to Cart</button>
          <button class="wishlist-button" (click)="addToWishlist()">
            Add to Wishlist
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
